body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
}

header {
    background-color: rgb(216, 24, 174)    ;
    color: rgb(19, 149, 172);
    padding: 10px 0;
    text-align: center;
    font-family: cursive;
}
h1{
    font-size: 70px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.menu{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}
.menu1{
    background-color: aquamarine;
    border: 4px solid black;
    text-align: center;
}
button{
    background-color: rgb(58, 221, 17);
    padding: 10px ;
    cursor: pointer;
    color: black;
    border: 2px solid rgb(185, 202, 29);
}
button:hover{
    background-color: violet;
    border-radius: 15px;
    border: 4px solid rgb(185, 202, 29);
}
nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}
nav ul li:hover{
    color: greenyellow;
}
nav ul li a {
    color: black;
    text-decoration: calc();
}
nav ul li a:hover{
    color: purple;
    background-color: beige;
}
main {
    padding: 20px;
}
h2, h3 {
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}
form {
    background-color: azure;
    padding: 35px;
    border: 1px solid var(--form-border);
    margin-top: 20px;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

form button {
    background-color: greenyellow;
    color: var(--button-color);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: lightgoldenrodyellow;
}

body.dark-theme {
    --background-color: #121212;
    --text-color: #ffffff;
    --header-background: #1e1e1e;
    --header-color: #ffffff;
    --link-color: #ffffff;
    --heading-color: #ffffff;
    --form-background: #1e1e1e;
    --form-border: #444444;
    --button-background: #1e1e1e;
    --button-color: #ffffff;
    --button-hover-background: #444444;
}
